body {
	color: #000;
}
.global-progress {
	display: none;
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
}

body.is-loading .global-progress {
	display: block;
}


/* https://facebook.github.io/react/docs/animation.html */
.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}
